@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 62% 99%;
    --foreground: 252 67% 2%;
    --muted: 72 22% 94%;
    --muted-foreground: 72 1% 39%;
    --popover: 252 62% 98%;
    --popover-foreground: 252 67% 1%;
    --card: 252 62% 98%;
    --card-foreground: 252 67% 1%;
    --border: 252 3% 94%;
    --input: 252 3% 94%;
    --primary: 252 11% 35%;
    --primary-foreground: 252 11% 95%;
    --secondary: 72 11% 35%;
    --secondary-foreground: 0 0% 100%;
    --accent: 72 11% 35%;
    --accent-foreground: 0 0% 100%;
    --destructive: 15 99% 31%;
    --destructive-foreground: 15 99% 91%;
    --ring: 252 11% 35%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6.27%;
    --foreground: 252 37% 98%;
    --muted: 0 0% 10.98%;
    --muted-foreground: 0 0% 62.75%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 0 0% 6.27%;
    --card-foreground: 252 37% 99%;
    --border: 0 0% 15.69%;
    --input: 0 0% 10.98%;
    --primary: 27.06 100% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 164.12 100% 80%;
    --secondary-foreground: 0 0% 0%;
    --accent: 27.06 100% 80%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 21.31% 11.96%;
    --destructive-foreground: 0 100% 75.1%;
    --ring: 27.06 100% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  height: -webkit-fill-available;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #7a7a7a #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 8px;
  border: 3px solid #ffffff;
}
