@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 178 60% 99%;
    --foreground: 178 79% 4%;
    --muted: 178 23% 87%;
    --muted-foreground: 178 7% 38%;
    --popover: 178 60% 98%;
    --popover-foreground: 178 79% 3%;
    --card: 178 60% 98%;
    --card-foreground: 178 79% 3%;
    --border: 178 4% 89%;
    --input: 178 4% 89%;
    --primary: 178 46% 51%;
    --primary-foreground: 178 46% 11%;
    --secondary: 178 5% 81%;
    --secondary-foreground: 178 5% 21%;
    --accent: 178 11% 73%;
    --accent-foreground: 178 11% 13%;
    --destructive: 11 84% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 178 46% 51%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 178 51% 0%;
    --foreground: 178 24% 98%;
    --muted: 178 23% 13%;
    --muted-foreground: 178 7% 62%;
    --popover: 0 0% 1%;
    --popover-foreground: 178 24% 99%;
    --card: 0 0% 1%;
    --card-foreground: 178 24% 99%;
    --border: 178 4% 13%;
    --input: 178 4% 13%;
    --primary: 178 46% 51%;
    --primary-foreground: 178 46% 11%;
    --secondary: 178 7% 16%;
    --secondary-foreground: 178 7% 76%;
    --accent: 178 17% 23%;
    --accent-foreground: 178 17% 83%;
    --destructive: 11 84% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 178 46% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  height: -webkit-fill-available;
}

@layer base {
  @media (max-width: 480px) {
    :root {
      font-size: 14px;
    }
  }
}
